<!DOCTYPE html>

<html>
    <head>


        <title>{% block title %}Salaryinfo{% endblock %}</title>

        {% block css %}{% endblock %}

        {% block js %}{% endblock %}

        {% block page_js %}{% endblock %}

        {% block extra_head %}{% endblock %}
    </head>

    <body>


    {% if user.is_authenticated %}
            <a href="{% url auth_logout %}" >Logout</a>
    {% else %}

        <a href="/accounts/login/">Login</a>
        <a href="{% url registration_register %}">Register</a>
        {% endif %}

        {% block content %}{% endblock %}
    </body>
</html>